@import "normalize.css";

:root {
    --color-bg: #141414;
    --color-bg1: #1c1c1c;
    --color-bg2: #222222;
    --color-bg3: #777777;

    --color-fg: #cccccc;

    --color-primary: #ee720d;
    --color-secondary: #1eaedb;

    --color-danger: #ff4c4c;
    --color-success: #2ec933;
    --color-pink: #cb6dce;
}

* {
    box-sizing: border-box;
    scrollbar-color: var(--color-bg3) transparent;

    &::-webkit-scrollbar {
        width: 10px;

        &:hover {
            width: 15px;
        }
    }

    &::-webkit-scrollbar-track {
        border: solid 3px transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px var(--color-bg3);
        border: solid 3px transparent;
        border-radius: 5px;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: $font-stack;
    font-size: $fs-medium;
}

a {
    color: var(--color-primary);
    @include transition;

    &:hover {
        color: var(--color-secondary);
    }

    &:focus {
        border: 1px solid var(--color-primary);
    }

    &.no-dec {
        text-decoration: none;
    }
}

#container {
    max-width: 90%;
    width: 960px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

kbd,
code {
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    padding: 3px 6px;
    font-size: $fs-small;
    border-bottom: 3px solid var(--color-bg2);
    font-family: $font-stack;
}

code {
    border-bottom: 1px solid var(--color-bg2);
}

.flex {
    display: flex;

    &.row,
    &.sm-row {
        flex-direction: row;
    }

    &.sm-row-rev {
        flex-direction: row-reverse;
    }

    &.col,
    &.sm-col {
        flex-direction: column;
    }

    &.col-rev {
        flex-direction: column-reverse;
    }

    &.center,
    &.sm-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    @media screen and (max-width: $break-med) {
        &.sm-row,
        &.sm-row-rev {
            flex-direction: column;

            &.center {
                align-items: flex-start;
            }
        }

        &.sm-col {
            flex-direction: row;
        }

        &.sm-center {
            align-items: flex-start;
        }
    }
}

.hidden {
    display: none;
}

input[type="text"],
input[type="password"],
textarea {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    color: var(--color-fg);
    outline: none;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    @include transition();

    &:hover {
        background-color: var(--color-bg2);
        border-color: var(--color-bg3);
    }

    &:focus,
    &:active {
        outline: none;
        border-color: var(--color-primary);
    }
}

form {
    span.required {
        color: var(--color-danger);
    }

    label {
        font-weight: bold;
    }
}

button,
.btn {
    cursor: pointer;
    background-color: var(--color-bg1);
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
    border: 1px solid var(--color-bg2);
    color: var(--color-fg);
    text-decoration: none;
    @include transition();

    &.btn-plain {
        background-color: transparent;
        border: 0;
    }

    &:hover {
        background-color: var(--color-bg2);
        border-color: var(--color-bg3);
        color: var(--color-fg);
    }

    &:focus,
    &:active {
        outline: none;
        border-color: var(--color-primary);
    }

    &.btn-main {
        background-color: var(--color-primary);
        color: var(--color-bg);
        border-color: rgba(240, 246, 252, 0.1);

        &:hover {
            background-color: var(--color-secondary);
        }

        &:focus,
        &:active {
            background-color: transparent;
            color: var(--color-fg);
            border-color: var(--color-primary);
            outline: none;
        }
    }

    &.btn-danger {
        color: var(--color-danger);
        border-color: var(--color-danger);

        .icon {
            color: var(--color-danger);
        }

        &:hover,
        &:focus,
        &:active {
            border-color: var(--color-danger);
        }
    }

    &.btn-icon {
        padding: 0.5rem;
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: var(--color-bg2);
        border-color: var(--color-bg2);
        color: var(--color-bg3);

        .icon {
            color: var(--color-bg3);
        }
    }
}

section {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h2:first-child {
        margin-top: 0;
    }

    input[type="text"],
    input[type="password"],
    button,
    textarea,
    .btn {
        background-color: var(--color-bg);
    }

    &.centered {
        padding-left: 20%;
        padding-right: 20%;

        @media screen and (max-width: $break-med) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.block {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
}

.error-message {
    padding: 1rem;
    border: 2px solid var(--color-danger);
    border-radius: $border-radius;
}

.icon {
    color: var(--color-fg);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

// tooltips themes

.tippy-box[data-theme~="myst"] {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    color: var(--color-fg);
    @include shadow-big();
}

.tippy-box[data-theme~="myst"] > .tippy-svg-arrow {
    fill: var(--color-bg2);
}

// shiki

.shiki {
    display: grid;
    grid-template-columns: 0fr 1fr;
    line-height: 1.25rem;

    .line-numbers {
        user-select: none;
        font-size: $fs-normal;
        text-align: right;
        margin-right: 1rem;
        margin-top: 0.25rem;
        padding-left: 0.25rem;
        color: var(--color-bg3);
        display: grid;

        span {
            position: relative;
            top: 1px;
        }
    }

    .lines {
        display: grid;
        margin-top: 0.25rem;
    }
}
