@import "normalize.css";

#theme-context[data-theme="myst"] {
    --color-bg: #141414;
    --color-bg1: #1c1c1c;
    --color-bg2: #222222;
    --color-bg3: #777777;

    --color-fg: #cccccc;

    --color-primary: #ee720d;
    --color-secondary: #1eaedb;

    --color-danger: #ff4c4c;
    --color-success: #2ec933;
    --color-pink: #cb6dce;
}

#theme-context[data-theme="dracula"] {
    --color-bg: #16171e;
    --color-bg1: #282a36;
    --color-bg2: #44475a;
    --color-bg3: #777777;

    --color-fg: #f8f8f2;

    --color-primary: #ffb86c;
    --color-secondary: #bd93f9;

    --color-danger: #ff5555;
    --color-success: #50fa7b;
    --color-pink: #ff79c6;
}

#theme-context,
body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: $font-stack;
    font-size: $fs-medium;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
    @include transition;

    &:hover {
        color: var(--color-secondary);
    }

    &:focus {
        border: 1px solid var(--color-primary);
    }

    &.no-dec {
        text-decoration: none;
    }
}

#container {
    max-width: 90%;
    width: 960px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

kbd,
code {
    background-color: var(--color-bg);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    padding: 3px 6px;
    font-size: $fs-small;
    border-bottom: 3px solid var(--color-bg2);
    font-family: $font-stack;
}

code {
    border-bottom: 1px solid var(--color-bg2);
}

.flex {
    display: flex;

    &.row,
    &.sm-row {
        flex-direction: row;
    }

    &.sm-row-rev {
        flex-direction: row-reverse;
    }

    &.col,
    &.sm-col {
        flex-direction: column;
    }

    &.col-rev {
        flex-direction: column-reverse;
    }

    &.center,
    &.sm-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.gap-s {
        gap: 0.5rem;
    }

    &.gap-m {
        gap: 1rem;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    @media screen and (max-width: $break-med) {
        &.sm-row,
        &.sm-row-rev {
            flex-direction: column;

            &.center {
                align-items: flex-start;
            }
        }

        &.sm-col {
            flex-direction: row;
        }

        &.sm-center {
            align-items: flex-start;
        }
    }
}

.hidden {
    display: none;
}

input[type="text"],
input[type="password"],
textarea {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    color: var(--color-fg);
    outline: none;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    @include transition();

    &:hover {
        background-color: var(--color-bg2);
        border-color: var(--color-bg3);
    }

    &:focus,
    &:active {
        outline: none;
        border-color: var(--color-primary);
    }
}

form {
    span.required {
        color: var(--color-danger);
    }

    label {
        font-weight: bold;
    }
}

button,
.btn {
    cursor: pointer;
    background-color: var(--color-bg1);
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius;
    border: 1px solid var(--color-bg2);
    color: var(--color-fg);
    text-decoration: none;
    @include transition();

    &.btn-plain {
        background-color: transparent;
        border: 0;
    }

    &:hover {
        background-color: var(--color-bg2);
        border-color: var(--color-bg3);
        color: var(--color-fg);
    }

    &:focus,
    &:active {
        outline: none;
        border-color: var(--color-primary);
    }

    &.btn-main {
        background-color: var(--color-primary);
        color: var(--color-bg);
        border-color: hsl(from var(--color-primary) h s calc(l - 20));

        &:hover {
            background-color: var(--color-secondary);
            border-color: hsl(from var(--color-secondary) h s calc(l - 20));
        }

        &:focus,
        &:active {
            background-color: var(--color-secondary);
            color: var(--color-bg);
            border-color: hsl(from var(--color-bg) h s calc(l - 20));
            outline: none;
        }
    }

    &.btn-danger {
        color: var(--color-danger);
        border-color: var(--color-danger);

        .icon {
            color: var(--color-danger);
        }

        &:hover,
        &:focus,
        &:active {
            border-color: var(--color-danger);
        }
    }

    &.btn-icon {
        padding: 0.5rem;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        background-color: var(--color-bg2);
        border-color: var(--color-bg2);
        color: var(--color-bg3);

        .icon {
            color: var(--color-bg3);
        }
    }
}

section {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    h2:first-child {
        margin-top: 0;
    }

    input[type="text"],
    input[type="password"],
    button,
    textarea,
    .btn {
        background-color: var(--color-bg);
    }

    &.centered {
        padding-left: 20%;
        padding-right: 20%;

        @media screen and (max-width: $break-med) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.block {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
}

.error-message {
    padding: 1rem;
    border: 2px solid var(--color-danger);
    border-radius: $border-radius;
}

.icon {
    color: var(--color-fg);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

// tooltips themes

.tippy-box[data-theme~="myst-dropdown"] .tippy-content {
    padding: 0;
}

.tippy-box[data-theme~="myst"],
.tippy-box[data-theme~="myst-dropdown"] {
    background-color: var(--color-bg1);
    border: 1px solid var(--color-bg2);
    border-radius: $border-radius;
    color: var(--color-fg);
    @include shadow-big();
}

.tippy-box[data-theme~="myst"] > .tippy-svg-arrow {
    fill: var(--color-bg2);
}

// shiki

.shiki {
    line-height: 1.25rem;
    padding: 0.25rem;

    &.wrap {
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.markdown {
    text-align: justify;
    line-height: 1.5rem;
    font-size: $fs-normal;

    h1 {
        margin-top: 0;
    }

    h1:first-child {
        margin-top: 1rem;
    }

    h1,
    h2,
    h3 {
        border-bottom: 1px solid var(--color-bg2);
        padding-bottom: 0.5rem;
        margin-top: 2rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 5.5rem;
    }

    blockquote {
        border-left: 4px solid var(--color-secondary);
        padding-left: 1rem;
        margin-left: 0;
    }

    pre {
        background-color: var(--color-bg1) !important;
        border-radius: $border-radius;
        border: 1px solid var(--color-bg2) !important;
        line-height: initial;
        padding: 1rem;

        code {
            border: none;
            background-color: initial;
        }
    }

    img {
        max-width: 100%;
    }

    .markdown-heading {
        position: relative;

        &:hover {
            .markdown-heading-anchor {
                opacity: 1;
            }
        }

        .markdown-heading-anchor {
            position: absolute;
            top: 50%;
            left: -28px;
            display: flex;
            margin: auto;
            width: 25px;
            height: 25px;
            opacity: 0;
            justify-content: center;
            align-items: center;
            transform: translateY(calc(-50% - 0.3rem));
        }
    }
}
