@import "normalize.css";

body {
    background-color: $color-bg;
    color: $color-fg;
    font-family: $font-stack;
    font-size: $fs-medium;
}

a {
    color: $color-prim;
    @include transition;

    &:hover {
        color: $color-sec;
    }

    &.no-dec {
        text-decoration: none;
    }
}

#container {
    max-width: 90%;
    width: 960px;
    margin: 0 auto;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

kbd {
    background-color: $color-bg-1;
    border: 1px solid $color-bg-2;
    border-radius: $border-radius;
    padding: 3px 6px;
    font-size: $fs-small;
    border-bottom: 3px solid $color-bg-2;
}

.flex {
    display: flex;

    &.row,
    &.sm-row {
        flex-direction: row;
    }

    &.sm-row-rev {
        flex-direction: row-reverse;
    }

    &.col {
        flex-direction: column;
    }

    &.col-rev {
        flex-direction: column-reverse;
    }

    &.center,
    &.sm-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    @media screen and (max-width: $break-med) {
        &.sm-row,
        &.sm-row-rev {
            flex-direction: column;

            &.center {
                align-items: flex-start;
            }
        }

        &.sm-center {
            align-items: flex-start;
        }
    }
}

.hidden {
    display: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
    background-color: $color-bg-1;
    border: none;
    color: $color-fg;
    outline: none;
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    @include transition(background-color);

    &:hover {
        background-color: $color-bg-2;
    }

    &:focus {
        background-color: rgba($color-prim, 0.2);
    }
}

button {
    cursor: pointer;

    &.btn-main {
        background-color: $color-prim;
        color: $color-bg;

        &:hover {
            background-color: $color-sec;
        }
    }
}
