$color-bg: #141414;
$color-bg-1: #1c1c1c;
$color-bg-2: #222222;
$color-bg-3: #777777;
$color-fg: #cccccc;

$color-prim: #ee720d;
$color-sec: #1eaedb;

$color-red: #ff4c4c;
$color-green: #2ec933;

$fs-small: 0.9rem;
$fs-normal: 1rem;
$fs-medium: 1.2rem;
$fs-large: 1.5rem;

$border-radius: 0.2rem;

$font-stack: "Ubuntu Mono", monospace;

@mixin transition {
    transition: 0.1s ease-in-out;
}