/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ef8834;
  --ifm-color-primary-dark: #ed7819;
  --ifm-color-primary-darker: #e57112;
  --ifm-color-primary-darkest: #bd5d0f;
  --ifm-color-primary-light: #f1984f;
  --ifm-color-primary-lighter: #f2a05c;
  --ifm-color-primary-lightest: #f5b785;
  --ifm-background-color: #f2f2f2;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ee720d;
  --ifm-color-primary-dark: #d6670c;
  --ifm-color-primary-darker: #ca610b;
  --ifm-color-primary-darkest: #a75009;
  --ifm-color-primary-light: #f37f21;
  --ifm-color-primary-lighter: #f4862d;
  --ifm-color-primary-lightest: #f59b51;
  --ifm-background-color: #141414;
}
